<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>nodiun</title>
        <meta name="description" content="Dejame ayudarte a conectarte con el mundo. Desarrollo de aplicaciones moviles y paginas web; sistemas que te ayuden en tu negocio">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="vendor/normalize-css/normalize.css">
        <link rel="stylesheet" href="vendor/materialize/dist/css/materialize.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <nav>
            <div class="nav-wrapper cyan darken-3 row">
                <div class="col s12">
                    <a href="#" class="brand-logo">nodiun</a>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waver-effect waves-light btn teal">Dejame tus dudas</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col m12">
                    <div class="card-panel">
                        <span class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores in similique ullam itaque voluptatum ipsam a, quae, expedita autem nostrum, laudantium repellat tempore. Dicta eum, cupiditate illum doloribus quibusdam dolore?</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m6">
                    <div class="card-panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia modi, totam, autem odio cupiditate consequuntur aperiam aliquid ullam at quaerat placeat, mollitia obcaecati blanditiis temporibus similique voluptatibus perferendis laborum esse!</div>
                </div>
                <div class="col m6">
                    <div class="card-panel">HOLI</div>
                </div>
            </div>
        </div>
        <footer class="page-footer teal">
        	<div class="footer-copyright teal">
        		<div class="container">
        			2016 nodiun
        		</div>
        	</div>
        </footer>


        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/materialize/dist/js/materialize.min.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
        
        </script>
    </body>
</html>
